---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const siteTitle = "// Br3akF1xRepeat";
const pageTitle = "// Home";
---
<BaseLayout siteTitle ={siteTitle} pageTitle={pageTitle}>
	<h1>Portfolio: Joseph Haddad</h1>
	<p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
	    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>