---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>// br3akF1xRepeat //</title>
	</head>
	<body>
		<h1>Portfolio: Joseph Haddad</h1>
	</body>
</html>
