---
import BaseLayout from '../../layouts/BaseLayout.astro';
const siteTitle = "// Br3akF1xRepeat";
const nestTitle = "// Resources ";
const pageTitle = "// Videos";
---

<BaseLayout siteTitle ={siteTitle} pageTitle={pageTitle}>
    <h1>Welcome to my Videos page!</h1>
</BaseLayout>