---
import BaseLayout from '../../layouts/BaseLayout.astro';
const siteTitle = "// Br3akF1xRepeat";
const nestTitle = "// Portfolio ";
const pageTitle = "// Articles";
---

<BaseLayout siteTitle ={siteTitle} pageTitle={pageTitle}>
    <h1>Welcom to my Articles page!</h1>
</BaseLayout>